html,
body {
  background-color: #005073;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color:#494848;
}

* {
  box-sizing: border-box;
}

#more-features {
  color:deeppink !important
}

.fun-footer {
  background-color: #107dac;
  position:fixed;
  bottom:0;
  width:100%;
  color:white;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-color {
  background-color: #005073;
}

.form-margin-top {
  margin-top: 10% !important;
}